body {
	background-color: #f8f8f8;
}

.menu {
	list-style-type: none;
}

.menu a {
	color: dodgerblue;
	font-size: 16px;
	font-style: italic;
}

a:focus {
	background-color: darkblue;
}

p,
h3,
h1,
ul {
	font-family: sans-serif;
	font-size: 20px;
}

.heading {
	color: #000;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
}

.shortd {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

.list {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.list_style {
	list-style-image: url(img/snk.png);
	font-size: 13px;
	font-weight: 500;
	line-height: 30px;
}

.list_style_2 {
	list-style-image: url(img/faq_list5_2.png);
	font-size: 13px;
	font-weight: 400;
	text-align: left;
	line-height: 30px;
}

input[type="text"] {
	font-size: 16px;
	font-family: cursive;
	width: 200px;
	color: burlywood;
	height: 20px;
}

input[type="tel"] {
	font-size: 14px;
	color: burlywood;
	width: 100px;
	height: 20px;
}

img[alt] {
	outline-style:dashed;
	outline-color: aqua;
}