body {
	font-family: muller;
}

.content img {
	border: 1px
	outline: 10px solid #red;
}

.return:hover:before {
	content: "<<";
}

.email:focus { 
	background-color: black;
    color: #FF9900;
   }

input {
	text-transform: capitalize;  
}

.header img {
	text-align: center;
}

.menu li {
	width: 120px;
	height: 30px;
	border: 1px solid #000;
	background-color: #000;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	list-style-type: none;
	text-align: center;
	padding-top: 10px;
}

.menu li a {
	font-weight: 800;
	font-size: 20px;
	color: #FF9900;
	text-decoration: none;
}

.menu li a:hover {
	color: white;
}

.menu li a:active {
	color: green;
}

.outline a img {
	outline-style: groove;
	outline-color: #FF9900;
}

.heading {
	color: #000;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
}

.shortd {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

.list {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.list_style {
	list-style-image: url(img/snk.png);
	font-size: 13px;
	font-weight: 500;
	line-height: 30px;
}

.list_style_2 {
	list-style-image: url(img/faq_list5_2.png);
	font-size: 13px;
	font-weight: 400;
	text-align: left;
	line-height: 30px;
}

.table_zhopa {
	border: 1px solid #000;
	width: 100px;
	height: 100px;
	border-collapse: collapse;
}

.table_zhopa td {
	border: 1px solid #FF9900;
	padding-left: 10px;
	
}


.shortd:first-letter {
	font-size: 30px;
	font-family: sans-serif;
	color: #FF9900;
}